#gkUpdates{
	padding:0 !important;
//	width:26.25%;
}
.spoudazo-welcome{
	background:#008ce6;
	color:#fff;
	line-height:normal;
	height:55px;
}
.spoudazo-welcome:hover{
	background:#eb1e00;
	color:#fff;
	webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.spoudazo-message{
	float:left;
	width:61%;
	line-height:normal;
}
.spoudazo-message > div{
//	margin:9px 7px;
	margin:9px 2px 9px 5px;
}
.spoudazo-hello{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#spoudazo-popup-link{
	color:#fff;
}
#spoudazo-popup-link:hover{
	text-decoration:underline;
}
.spoudazo-login{
	display:inline-block;
	color:#fff;
	padding:5px 5px 0 0;
	width:39%;
	box-sizing:border-box;
	float:left;
}
.spoudazo-login > i{
	display:block;
}
.spoudazo-login > span{
	display:block;
	padding-top:4px;
}
.spoudazo-login:hover,
.spoudazo-login:active{
	color:#fff;
}
.spoudazo-login:hover span{
	text-decoration:underline;
}